body{
    background-image: url(..//images/TO\ DO\ LIST.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.Title{
    margin-top: 30px;
    text-align: center;
    color: rgb(6, 7, 63)
}
.TOP{
    margin-left: 40%;
    background-color: lightblue;
    width: 30%;
    height: 575px;
    padding: 15px;
    border: 15px solid aquamarine;
}
.Form{
    text-align: center;
}
button{
    cursor: pointer;
}
